*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 90%;
    padding: 15px 0;
    margin: 0 auto;
    display: flex; /* タイトルとナビを横並びに */
    justify-content: space-between; /* 左右両端に表示 */
}

footer{
    width: 100%;
    background-color: #444;
    text-align: center;
    padding: 26px 0;
    color: #fff;
}

a{
    text-decoration: none;
} /* aタグのリンク下線削除　*/

.main-nav {
    display: flex;
    list-style: none;
    margin-top: 14px;
} /* FlexBoxでナビメニュー横並び、liタグ黒ポチ削除 */

.main-nav li{
    margin-left: 36px;
    color: #435;
} /* main-navクラス名の中のタグのみに配置属性適用　*/

.main-nav li:hover{
    color: #0ba;
} /* カーソルを合わせたときの装飾指定　*/

.main-visual{
    text-align: center;
    margin-top: 20%;
}

.main-visual p{
    font-size: 1.2rem;
    margin: 10px 0 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.main-title{
    font-size:4rem;
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
    font-weight: normal;
}

.btn{
    font-size: 1.2rem;
    background-color: #0ba;
    color: #fff;
    border-radius: 30px;
    padding: 20px 50px;
}

.btn:hover{
    background-color: #0090dd;
}

#top{
    min-height: 100vh;
    background-image: url(./img/cafemain.jpg);
    background-size: cover; /* 画像の比率を保ったまま画面いっぱいにする　*/
}

.heading a{
    font-family:'Times New Roman', 'Times New Roman', Times, serif;
    color: #1b0704;
}

.main-nav li a{
    margin-left: 36px;
    color: #1b0704;
}

.main-nav li a:hover{
    color: #0ba;
}

.main-visual{
    text-align: center;
    margin-top: 20%;
    color: #1b0704;
}

#news{
    min-height: 270px;
    margin-bottom: 40px;
    background-image: url(./img/cafenews.png);
    background-size: cover;
}

#news .main-title{
    text-align: center;
}